page-login {
    ion-content {
        background-color: #EB1460 !important;
    }

    ion-title * {
        margin-top: 15px;
        font-size: 26px !important;
        color: #fff !important;
    }

    ion-img {
        background: none;
    }

    #logo {
        margin-top: 20vh;
    }
}
