<ion-header class="static">
  <ion-toolbar color='main'>
    <ion-title>Verifikasi Lembaga</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" icon-only showWhen="android,windows">
        <span ion-text color="clear" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()" showWhen="ios">
        <span ion-text color="clear">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color='light' class="no-border">
      <ion-avatar item-start>
        <img src="assets/imgs/sample.jpg">
      </ion-avatar>
      <h2>{{ namaLembaga }}</h2>
      <p>{{ bentukLembaga }}</p>
    </ion-item>
    <ion-item>
      <ion-toggle checked="{{ statusValid == 'valid' ? 'true' : 'false' }}"></ion-toggle>
      <ion-label>
        Konfimasi keabsahan data
      </ion-label>
      <ion-icon color="main" name='md-checkmark-circle-outline' item-start></ion-icon>
    </ion-item>
    <button ion-item (click)="openRevision(noRegistrasi, lembaga)" class="no-border">
      <ion-icon name="chatbubbles" item-start color="secondary"></ion-icon>
      Catatan revisi
    </button>
    <div *ngFor="let d of data; let idx = index;">
      <ion-list-header color="light" *ngIf="d.idGrup != dataClone[idx-1].idGrup"> {{d.namaGrup}}</ion-list-header>
      <ion-item-sliding>
        <ion-item>
          <ion-label>{{ d.nama }}</ion-label>
          <ion-checkbox color="main" checked="{{ d.statusVerifikasi == '1' ? 'true' : 'false' }}"></ion-checkbox>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="main">
            Lihat Berkas
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
