<ion-header class="static">
  <ion-toolbar color='main'>
    <ion-title>Profil Lembaga</ion-title>
    <ion-buttons left *ngIf="userLevel != '1'">
      <button ion-button (click)="dismiss()" icon-only showWhen="android,windows">
        <span ion-text color="clear" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()" showWhen="ios">
        <span ion-text color="clear">Cancel</span>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="userLevel != '2'">
      <button ion-button icon-only (click)="loadForm()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reloadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-list no-margin> -->
    <ion-list>
      <ion-item color="main" text-center class="no-border">
        <ion-avatar margin-bottom class="medium">
          <img class="margin-auto" src="{{urlServer}}/img/logo/{{detail.avatar}}">
        </ion-avatar>
        <p>{{ detail.namaBentukLembaga }}</p>
        <h1 text-wrap>{{ detail.nama }}</h1>
        <p class="text-{{ detail.statusVerifikasi == 1 ? 'white' : 'bright' }}" (click)="openModal(6, noRegistrasi, namaLembaga, detail.namaBentukLembaga, detail.nama)">{{ detail.statusVerifikasi == 1 ? 'Sudah Verifikasi' : 'Belum Verifikasi' }}</p>
      </ion-item>
    </ion-list>
    <ion-list padding>
      <ion-item *ngIf="userLevel != '1'">
        <p><b>Username.</b><br/><br /> {{ detail.username }}</p>
      </ion-item>
      <ion-item>
        <p><b>No Registrasi.</b><br/><br /> {{ detail.noreg }}</p>
      </ion-item>
      <ion-item>
        <p><b>Telp.</b><br/><br/> {{ detail.telp }}</p>
      </ion-item>
      <ion-item>
        <p><b>Email.</b><br/><br/> {{ detail.email }}</p>
      </ion-item>
      <ion-item text-wrap>
        <p><b>Alamat.</b><br/><br/> {{ detail.alamat }}</p>
      </ion-item>
      <ion-item>
        <p><b>Bergerak dalam bidang.</b><br/><br/> {{ detail.namaBidangGerak }}</p>
      </ion-item>
      <ion-item>
        <p><b>Jumlah pengurus.</b><br/><br/> {{ detail.jumlahPengurus }} Orang</p>
      </ion-item>
      <ion-item>
        <p><b>NPWP.</b><br/> {{ detail.noNpwp }}</p>
      </ion-item>
      <ion-item>
        <p><b>Afiliasi.</b><br /> {{ detail.organisasiAfiliasi }}</p>
      </ion-item>
      <ion-item text-wrap>
        <p><b>Visi.</b><br /> {{ detail.visiLembaga }}</p>
      </ion-item>
      <ion-item text-wrap >
        <p><b>Misi.</b><br /> {{ detail.misiLembaga }}</p>
      </ion-item>
      <ion-item margin-bottom class="no-border">
        <p><b>Media sosial.</b><br /> {{ detail.mediaSosial }}</p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="userLevel != '2'">
      <ion-list-header class="text-main">Informasi lainnya</ion-list-header>
      <button ion-item (click)="openModal(0, noRegistrasi, namaLembaga)">
        <ion-icon name="paper" item-start color="main"></ion-icon>
        Legalitas
      </button>
      <button ion-item (click)="openModal(1, noRegistrasi, namaLembaga)">
        <ion-icon name="time" item-start color="bright"></ion-icon>
        Sejarah
      </button>
      <button ion-item (click)="openModal(2, noRegistrasi, namaLembaga)">
        <ion-icon name="people" item-start color="vibrant"></ion-icon>
        Kepengurusan
      </button>
      <button ion-item (click)="openModal(3, noRegistrasi, namaLembaga)">
        <ion-icon name="pricetag" item-start color="primary"></ion-icon>
        Usaha
      </button>
      <button ion-item (click)="openModal(4, noRegistrasi, namaLembaga)">
        <ion-icon name="trophy" item-start color="bright"></ion-icon>
        Prestasi
      </button>
      <button ion-item (click)="openModal(5, noRegistrasi, namaLembaga)">
        <ion-icon name="book" item-start color="secondary"></ion-icon>
        Koleksi
      </button>
      <button ion-item (click)="openMaps()">
        <ion-icon name="globe" item-start color="primary"></ion-icon>
        Lihat Maps
      </button>
    </ion-list>
    <ion-list *ngIf="userLevel != '2'">
      <ion-list-header class="text-main">Aplikasi</ion-list-header>
      <button ion-item (click)="openModal(6, noRegistrasi, namaLembaga, detail.namaBentukLembaga, detail.nama)" *ngIf="userLevel =='3' || userLevel == '7'">
        <ion-icon name="md-create" item-start color="secondary"></ion-icon>
        Verifikasi Lembaga
      </button>
      <button ion-item (click)="openModal(8, noRegistrasi, namaLembaga)" *ngIf="userLevel =='1'">
        <ion-icon name="chatbubbles" item-start color="secondary"></ion-icon>
        Catatan Revisi
      </button>
      <button ion-item (click)="openModal(7)" *ngIf="userLevel =='1'">
        <ion-icon name="settings" item-start></ion-icon>
        Pengaturan
      </button>
      <button ion-item (click)="logout()" *ngIf="userLevel =='1'">
        <ion-icon name="log-out" item-start color="danger"></ion-icon>
        Keluar
      </button>
    </ion-list>
  <!-- </ion-list> -->
</ion-content>
