<ion-header class="static">
  <ion-toolbar color='dark'>
    <ion-title>Form Akun</ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()" icon-only showWhen="android,windows">
        <span ion-text color="clear" showWhen="ios">Cancel</span>
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()" showWhen="ios">
        <span ion-text color="clear">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-row class="big-avatar-frame">
      <div class="big-avatar" text-center>
        <!-- <img src="{{lastImageBase64}}" [hidden]="lastImage === null"> -->
        <img src="{{urlServer}}/img/avatar/{{accountData.avatar}}?random={{random_}}" *ngIf="accountData.userLevel != '1'">
        <img src="{{urlServer}}/img/logo/{{accountData.avatar}}?random={{random_}}" *ngIf="accountData.userLevel == '1'">
        <ion-buttons margin-top>
          <button (click)="presentActionSheet()" class="no-shadow" color="bright" ion-button text-capitalize small round>
            Unggah avatar
          </button>
        </ion-buttons>
      </div>
      <ion-item color="dark" text-center class="big-avatar-frame" padding></ion-item>
      <ion-item></ion-item>
    </ion-row>
  </ion-list>
  <ion-list padding>
    <ion-row>
      <ion-item>
        <ion-label>Nama</ion-label>
        <ion-input [(ngModel)]="accountData.nama" type="text" no-border></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Jabatan</ion-label>
        <ion-input [(ngModel)]="accountData.jabatan" type="text" no-border></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Alamat</ion-label>
        <ion-textarea [(ngModel)]="accountData.alamat" type="text"></ion-textarea>
      </ion-item>
      <ion-col col-6 no-padding>
        <ion-item class="no-border-1-layer">
          <ion-label>RT</ion-label>
          <ion-input [(ngModel)]="accountData.noRt" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6 no-padding>
        <ion-item class="no-border-1-layer">
          <ion-label>RW</ion-label>
          <ion-input [(ngModel)]="accountData.noRw" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-item>
        <ion-label>Wilayah</ion-label>
        <ion-select [(ngModel)]="accountData.kodeWilayah" (ionChange)="loadKecamatan(accountData.kodeWilayah)">
          <ion-option value="" selected="{{accountData.wilayah == '' ? selected : '' }}"></ion-option>
          <ion-option *ngFor="let d of wilayah" value="{{ d.value }}" selected="{{accountData.kodeWilayah == d.value ? selected : '' }}">{{d.caption }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Kecamatan</ion-label>
        <ion-select [(ngModel)]="accountData.kodeKecamatan" (ionChange)="loadKelurahan(accountData.kodeKecamatan)">
          <ion-option value="" selected="{{accountData.kecamatan == '' ? selected : '' }}"></ion-option>
          <ion-option *ngFor="let d of kecamatan" value="{{ d.value }}" selected="{{accountData.kodeKecamatan == d.value ? selected : '' }}">{{d.caption }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Kelurahan</ion-label>
        <ion-select [(ngModel)]="accountData.kodeKelurahan">
          <ion-option value="" selected="{{accountData.kelurahan == '' ? selected : '' }}"></ion-option>
          <ion-option *ngFor="let d of kelurahan" value="{{ d.value }}" selected="{{accountData.kodeKelurahan == d.value ? selected : '' }}">{{d.caption }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Telp</ion-label>
        <ion-input [(ngModel)]="accountData.noTelp" type="text"></ion-input>
      </ion-item>
      <ion-item class="no-border" margin-bottom>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="accountData.email" type="email"></ion-input>
      </ion-item>
    </ion-row>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="main">
    <button class="text-white" (click)="changeAccount()" ion-button block clear>Ubah data Akun</button>
  </ion-toolbar>
</ion-footer>
